HPRflow.json
[{"id":"3aca38c5.1bb938","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fc727374.e9194","type":"inject","z":"3aca38c5.1bb938","name":"","topic":"BP","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"5","x":170,"y":360,"wires":[["2ff59e45.c8a722"]]},{"id":"2ff59e45.c8a722","type":"function","z":"3aca38c5.1bb938","name":"temprature check","func":"//temp1\nvar temp1 = flow.get('temp1');\n\n//random temprature\nvar rand4 = Math.floor(Math.random()*(30-20)+20)\nflow.set('temp1',rand4);\nvar state = 'crictical';\nvar state1 = 'normal';\nvar flag5 = flow.get('flag5');\nvar randsystolic1 = flow.get('randsystolic');\nvar randdiastolic1 = flow.get('randdiastolic');\nrandsystolic1 = Math.floor(Math.random()*(150-118)+119);\nranddiastolic1 =  Math.floor(Math.random()*(85-75)+75);\nflow.set('randsystolic',randsystolic1);\nflow.set('randdiastolic',randdiastolic1);\nif(randsystolic1>122){\n    flow.set('flag5',1);\nmsg.payload={Systolic:randsystolic1,Diastolic:randdiastolic1,situtaion:state,flag5:flag5,temp1:temp1}\n\nreturn msg;\n    }\nelse{\n    flow.set('flag5',0);\n      msg.payload={Systolic:randsystolic1,Diastolic:randdiastolic1,situtaion:state1,flag5:flag5,temp1:temp1}\nreturn msg;\n    \n}\n\n\n\n//sending message\n//msg.temp1=value;\n//msg.payload={hello:10}\n//return msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["5d307bc3.09a424"]]},{"id":"92ea8283.47227","type":"comment","z":"3aca38c5.1bb938","name":"Sensor3","info":"","x":280,"y":620,"wires":[]},{"id":"bd1416e.9034be8","type":"inject","z":"3aca38c5.1bb938","name":"","topic":"Temperature","payload":"36-38","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":360,"wires":[["6ee0abc3.88c644"]]},{"id":"6ee0abc3.88c644","type":"function","z":"3aca38c5.1bb938","name":"","func":"m = msg.payload\nt = msg.topic\nf = msg.flag1\n\n//temp 3 and temp4\nvar temp2 = flow.get('temp2');\n//value+=20;\n\nvar rand1 = Math.floor(Math.random()*(30-20)+20)\nflow.set('temp2',rand1);\nvar temp3 = flow.get('temp1');\nvar temp4 = flow.get('temp2');\nvar flag3 = flow.get('flag3');\nvar randsystolic = flow.get('randsystolic');\nvar randdiastolic = flow.get('randdiastolic');\nvar node=2;\n\n//Comparing\n\nif(t == \"BP\"){\n    if(temp4<temp3){\n        \n        flow.set('flag3',0);\n        msg.topic='12TL'\n        //msg.payload={throughsensor2: 10}\n        //msg.payload={throughsensor2: 10}\n        msg.payload={Systolic:randsystolic,Diastolic:randdiastolic,Node:node,state:'critical'}\n    return msg;\n    }\n    else{\n        if(t == \"BP\"){\n             flow.set('flag3',1);\n             msg.topic='12TM';\n             msg.payload={Systolic:randsystolic,Diastolic:randdiastolic,Node:node,flag:flag3,temp3:temp3,temp4:temp4}\n             \n            return msg;\n        }\n    }\n}\n\n\n//msg.payload={temp4:temp4};\n//return msg\n//t = msg.topic\n\n//return\n/*if(t == \"Sensor1\"){\nif(temp1>temp2){\n    return {m, temp1};\n}\n}*/\n\n","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["cba53a42.5390a8"]]},{"id":"cba53a42.5390a8","type":"switch","z":"3aca38c5.1bb938","name":"Tempcheck1","property":"flag3","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":240,"wires":[["adcb975d.da4838","199c24ab.afa76b"],["f21845cd.4ef678"]]},{"id":"53fc69ee.1f5988","type":"inject","z":"3aca38c5.1bb938","name":"","topic":"Heart rate","payload":"65-80","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":580,"wires":[["7e4bf20f.b574cc"]]},{"id":"7e4bf20f.b574cc","type":"function","z":"3aca38c5.1bb938","name":"","func":"m = msg.payload\nt = msg.topic\nf = msg.flag1\n\n\ntemp5 = flow.get('temp5');\n//value+=20;\nvar rand3 = Math.floor(Math.random()*(30-20)+20)\nflow.set('temp5',rand3);\n//temp6 and temp7\ntemp6 = flow.get('temp1');\ntemp7 = flow.get('temp5');\nvar flag4 = flow.get('flag4');\n\nvar randsystolic = flow.get('randsystolic');\nvar randdiastolic = flow.get('randdiastolic');\nvar node=3;\n\nif(t == \"12TM\"){\n    if(temp6<temp7){\n        \n        flow.set('flag4',0);\n        msg.topic='123TL';\n        msg.temp7=temp7;\n        //msg.payload = {throughsensor3:10}\n        msg.payload={Systolic:randsystolic,Diastolic:randdiastolic,Node:node,state:'critical'}\n    return msg;\n    }\n    else{\n        if(t == \"12TM\"){\n             flow.set('flag4',1);\n             msg.topic='123TM';\n             msg.payload = {Temp:\"more serach for new node\"}\n             //msg.payload={Systolic:randsystolic,Diastolic:randdiastolic,Node:node}\n            return msg;\n        }\n    }\n}\n//return msg\n\n//m = msg.payload\n//t = msg.topic\n\n//return\n/*if(t == \"Sensor1\"){\nif(temp1>temp2){\n    return {m, temp1};\n}\n}*/\n\n","outputs":1,"noerr":0,"x":270,"y":500,"wires":[["4cbc0832.6672d8"]]},{"id":"4cbc0832.6672d8","type":"switch","z":"3aca38c5.1bb938","name":"Tempcheck2","property":"flag4","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":460,"wires":[["d9ac69e2.55f0d8","40613c0a.5a2124"],["daa3f6e1.a3a998"]]},{"id":"5804c0d6.8e424","type":"link in","z":"3aca38c5.1bb938","name":"","links":["f21845cd.4ef678"],"x":95,"y":500,"wires":[["7e4bf20f.b574cc"]]},{"id":"f21845cd.4ef678","type":"link out","z":"3aca38c5.1bb938","name":"Sensordata","links":["5804c0d6.8e424"],"x":655,"y":260,"wires":[]},{"id":"daa3f6e1.a3a998","type":"debug","z":"3aca38c5.1bb938","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":540,"wires":[]},{"id":"d9ac69e2.55f0d8","type":"mqtt out","z":"3aca38c5.1bb938","name":"","topic":"mytopic3","qos":"","retain":"","broker":"d15a6628.cbd608","x":520,"y":440,"wires":[]},{"id":"adcb975d.da4838","type":"mqtt out","z":"3aca38c5.1bb938","name":"","topic":"mytopic3","qos":"","retain":"","broker":"d15a6628.cbd608","x":660,"y":200,"wires":[]},{"id":"11c8d8cc.4c6ff7","type":"debug","z":"3aca38c5.1bb938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":170,"y":200,"wires":[]},{"id":"5d307bc3.09a424","type":"switch","z":"3aca38c5.1bb938","name":"","property":"flag5","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":280,"wires":[["11c8d8cc.4c6ff7"],["6ee0abc3.88c644"]]},{"id":"199c24ab.afa76b","type":"debug","z":"3aca38c5.1bb938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":180,"wires":[]},{"id":"40613c0a.5a2124","type":"debug","z":"3aca38c5.1bb938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":440,"wires":[]},{"id":"7970a041.a1b77","type":"comment","z":"3aca38c5.1bb938","name":"Sensor2","info":"","x":420,"y":400,"wires":[]},{"id":"f60766d.d48ce98","type":"comment","z":"3aca38c5.1bb938","name":"Sensor1","info":"","x":160,"y":400,"wires":[]},{"id":"d15a6628.cbd608","type":"mqtt-broker","z":"","name":"try88_take2","broker":"azsowpihmzu90-ats.iot.us-west-2.amazonaws.com","port":"8883","tls":"ef6f6cf2.05192","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ef6f6cf2.05192","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"6e34fe18ed-certificate.pem.crt","keyname":"6e34fe18ed-private.pem.key","caname":"x590.pem","servername":"","verifyservercert":true}]